/* Define application-wide selectors here!*/

html {
	position: relative;
	height: 100%;
}

body {
	width: 80vw;
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;
}

button {
	background-color: $light-blue;
	// border-color:
	color: white;
	font-weight: bold;
	padding: 8px;
	border-radius: 4px;
	// transition:
	// font-family:
	text-transform: uppercase;
	// font-size:
	text-align: center;
	// text-decoration: none;
}

button:hover {
	background-color: $dark-blue
	// border-color:
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}

a:hover {
	text-decoration: underline;
	background-color: $lightest-gray;
}

.hidden {
	display: none;
}
