<ul class="masthead">
  <ul class="language-nav">
    <a>CSS</a>
    <a>HTML</a>
    <a>Javascript</a>
    <a>Ruby</a>
  </ul>

  <img class="logo" src="assets/AA_Times_Logo.png" />

  <ul class="masthead-links">
    <a>Tuesday, October 18, 2016</a>
    <a>
      <i class="fa fa-newspaper-o"></i>
      Today’s Paper
    </a>
    <a>
      <i class="fa fa-video-camera"></i>
      Video
    </a>
    <a>77°F</a>
    <a>AAO +100%</a>
  </ul>
</ul>
